[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"

[dev-packages]
jupyterlab = "*"
datetime = "*"
requests = "*"
bs4 = "*"
importlib-metadata = "*"

[requires]
python_version = "3.9"
